# Global code owners (applies to the whole repo)
* @malibora @jadnov @elijah-k-nebius @rdjjke @asteny @cyril-k @alex000kim @aaroniscode @secrettoad

.github/workflows @malibora @d3vil-st @elijah-k-nebius @jadnov @aaroniscode @secrettoad
soperator/ @dstaroff @asteny @rdjjke @Uburro @itechdima
