# Global code owners (applies to the whole repo)
* @malibora @jadnov @elijah-k-nebius @rdjjke @asteny @cyril-k @aaroniscode @pbutler @dasbatta

.github/workflows @malibora @d3vil-st @elijah-k-nebius @jadnov @aaroniscode @dasbatta

.github/workflows/soperator* @dstaroff @asteny @rdjjke @Uburro @itechdima @theyoprst @ChessProfessor @ali-sattari @fabrizio2210
soperator/ @dstaroff @asteny @rdjjke @Uburro @itechdima @theyoprst @ChessProfessor @ali-sattari @fabrizio2210
