network:
  version: 2
  renderer: networkd
  ethernets:
    {{ ansible_default_ipv4.interface }}:
      dhcp4: yes
      dhcp4-overrides:
        use-routes: false
        use-dns: false
      nameservers:
        addresses: [{{ custom_dns_servers | map('quote') | join(', ') }}]
      routes:
{% for route in custom_routes %}
        - to: "{{ route.to }}"
          via: "{{ route.via }}"
{% endfor %}
