apiVersion: nvidia.com/v1alpha1
kind: PodSnapshotContent
metadata:
  name: proteinmpnn-native-f7-v1-direct-hf93
  labels:
    nvidia.com/snapshot-node: computeinstance-e00hf93cfnsgaxygn3
    app.kubernetes.io/name: proteinmpnn
spec:
  snapshotRef:
    namespace: nim-fast-start
    name: proteinmpnn-native-f7-v1-direct-hf93
  source:
    nodeName: computeinstance-e00hf93cfnsgaxygn3
    podRef:
      name: @@SOURCE_POD_NAME@@
      uid: @@SOURCE_POD_UID@@
      containers:
        - proteinmpnn
