apiVersion: nvidia.com/v1alpha1
kind: PodSnapshotContent
metadata:
  name: molmim-native-f7-v1-direct-t12
  labels:
    nvidia.com/snapshot-node: computeinstance-e00t12crqg6tw0kz65
    app.kubernetes.io/name: molmim
spec:
  snapshotRef:
    namespace: nim-fast-start
    name: molmim-native-f7-v1-direct-t12
  source:
    nodeName: computeinstance-e00t12crqg6tw0kz65
    podRef:
      name: "@@SOURCE_POD_NAME@@"
      uid: "@@SOURCE_POD_UID@@"
      containers:
        - molmim
