resources:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: k8up-secret
    data:
      aws-access-key-id: "${aws_access_key_id_base64}"
      aws-secret-access-key: "${aws_secret_access_key_base64}"
      repo-password: "${repo_password_base64}"
    type: Opaque
