%{~ if monitoring.enabled ~}
metrics:
  grafanaDashboard:
    enabled: true
    namespace: ${monitoring.namespace}
    additionalLabels:
      grafana_dashboard: "1"

  prometheusRule:
    enabled: true
    namespace: ${monitoring.namespace}

  serviceMonitor:
    enabled: true
    namespace: ${monitoring.namespace}
%{~ endif ~}
