{ "ib_pod": "$TOPO_SWITCH_TIER2", "ib_su": "$TOPO_SWITCH_TIER1"%{ if rack_number != null }, "rack_number": "${rack_number}"%{ endif }%{ if nvl_instance_group_id != "" }, "nvl_instance_group_id": "${nvl_instance_group_id}"%{ endif } }
