resources:
  - apiVersion: v1
    kind: ConfigMap
    metadata:
      name: terraform-soperator-activechecks
      labels:
        reconcile.fluxcd.io/watch: Enabled
    data:
      values.yaml: |
        ensureDirSnccldLogs:
          enabled: true
