resources:
  - apiVersion: v1
    kind: ConfigMap
    metadata:
      name: soperatorchecks
    data:
      values.yaml: |
        checks:
          manager:
            resources:
              limits:
                memory: ${checks.resources.requests.memory}Gi
              requests:
                memory: ${checks.resources.requests.memory}Gi
                cpu: ${checks.resources.requests.cpu * 1000}m
