# Example configuration for Nebius Kubernetes cluster
# Copy this file to terraform.tfvars and replace with your actual values

# Your Nebius project ID
project_id = 

# The subnet ID where the cluster will be deployed
subnet_id = 

# The ID of the viewers group for Nebius Container Registry access
# Find this in your Nebius console under IAM -> Groups
viewers_group_id = 

# Name for your Kubernetes cluster
cluster_name = "saturn-cluster"

saturn_cloud_provider          = "nebius"
saturn_region                  = "us-central1"
saturn_availability_zone       = "us-central1"
saturn_domain          = 
saturn_admin_email     = 
saturn_customer_name   = 
saturn_base_url        = 
saturn_ssh_domain      = 
saturn_bootstrap_token = 
saturn_image_build_node_role   = "cpu-d3-4vcpu-16gb"


# Saturn Cloud Instance Configuration
saturn_instance_config = {
  default_cpu = "nebius-cpu-d3-4vcpu-16gb"
  default_gpu = "nebius-gpu-h200-sxm-1gpu-16vcpu-200gb"
  sizes = [
    # Nebius CPU Instances
    {
      name         = "nebius-cpu-d3-4vcpu-16gb"
      cores        = 4
      memory       = "16Gi"
      gpu          = 0
      display_name = "cpu-d3-4vcpu-16gb"
      node_role    = "cpu-d3-4vcpu-16gb"
    },
    {
      name         = "nebius-cpu-d3-16vcpu-64gb"
      cores        = 16
      memory       = "64Gi"
      gpu          = 0
      display_name = "cpu-d3-16vcpu-64gb"
      node_role    = "cpu-d3-16vcpu-64gb"
    },
    {
      name         = "nebius-cpu-d3-64vcpu-256gb"
      cores        = 64
      memory       = "256Gi"
      gpu          = 0
      display_name = "cpu-d3-64vcpu-256gb"
      node_role    = "cpu-d3-64vcpu-256gb"
    },
    # Nebius H200 GPU Instances
    {
      name          = "nebius-gpu-h200-sxm-1gpu-16vcpu-200gb"
      cores         = 16
      memory        = "200Gi"
      gpu           = 1
      gpu_type      = "H200"
      hardware_type = "NVIDIA"
      display_name  = "gpu-h200-sxm-1gpu-16vcpu-200gb"
      node_role     = "gpu-h200-sxm-1gpu-16vcpu-200gb"
    },
    {
      name          = "nebius-gpu-h200-sxm-8gpu-128vcpu-1600gb-zone-a"
      cores         = 128
      memory        = "1600Gi"
      gpu           = 8
      gpu_type      = "H200"
      hardware_type = "NVIDIA"
      display_name  = "gpu-h200-sxm-8gpu-128vcpu-1600gb-zone-a"
      node_role     = "gpu-h200-sxm-8gpu-128vcpu-1600gb-zone-a"
      description   = "8xH200 instance within us-central1-a InfiniBand network"
    }
  ]
}