package_update: true
package_upgrade: true

%{ if enable_filestore != "false" }
mounts:
- [ data, /mnt/data, virtiofs, "defaults", 0, 2 ]

runcmd:
 - [ modprobe, fuse ]
 - [ mkdir, '-p', /mnt/data ]
 - [ mount, '-a' ]
 
%{ endif }

users:
 - name: ${ssh_user_name}
   sudo: ALL=(ALL) NOPASSWD:ALL
   shell: /bin/bash
   ssh_authorized_keys:
    - ${ssh_public_key}
